body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:12px;
    color: #f2b632;
    margin: 0 auto;
    background-color: #333333;
}

h1 {
    margin: 0 auto;
    padding: 0 auto;
    font-size: 90px;
    text-align: center;
}

#content {
    width: 1200px;
    margin: 0 auto;
}

canvas {
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;
}

#canvasDiv {
    margin-top: 10px;
}